<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Detalles de Película</title>
  <script th:src="@{/js/detallePelicula.js}" defer></script>
</head>
<body layout:fragment="body">
<div class="container py-4">
  <div class="card bg-light">
    <div class="card-header" th:text="${titulo}">Detalles de la Película</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item active" th:text="'Título: ' + ${pelicula.titulo}">Título</li>
            <li class="list-group-item" th:text="'Género: ' + ${pelicula.genero}">Género</li>
            <li class="list-group-item">
              <span th:text="'Año: ' + ${pelicula.annio}">Año</span>
              <span class="mx-2">|</span>
              <span th:text="'Duración: ' + ${pelicula.duracion} + ' minutos'">Duración</span>
            </li>
            <li class="list-group-item" th:text="'Director: ' + ${pelicula.direccion}">Director</li>
            <li class="list-group-item" th:text="'País: ' + ${pelicula.nombrePais}">País</li>
            <li class="list-group-item">
              Actores: <span id="actores"></span>
              <ul id="actores-list" style="display: none;">
                <li th:each="actor : ${pelicula.actores}" th:data-id="${actor.id}" th:text="${actor.nombre}"></li>
              </ul>
            </li>
            <li class="list-group-item" th:text="'Sinopsis: ' + ${pelicula.sinopsis}">Sinopsis</li>
          </ul>
        </div>
        <div class="col-md-4 text-center">
          <img th:if="${pelicula.imagenPortada != null && #strings.length(pelicula.imagenPortada) > 0}"
               class="img-thumbnail rounded" style="max-width:100%"
               th:src="@{'/cpeliculas/uploads/' + ${pelicula.imagenPortada}}" th:alt="${pelicula.imagenPortada}">
          <img th:unless="${pelicula.imagenPortada != null && #strings.length(pelicula.imagenPortada) > 0}"
               class="img-thumbnail rounded" style="max-width:100%"
               src="/images/portada_no_encontrada.jpg" alt="Portada No Encontrada">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <a class="btn btn-primary" role="button" th:href="@{/cpeliculas/listado}">Volver al Listado</a>
</div>
</body>
</html>
